{% load mptt_tags %}

{% recursetree comments %}
<div class="lenta-card__comment{% if node.is_child_node %} lenta-card__comment--reply{% endif %}" data-id="{{node.id}}">
    <div class="comment__top">
        <img loading="lazy" src="{{node.author.profile.avatar.url}}" class="comment__avatar">
    </div>
    <div class="comment__content">
        <div class="comment__body">
            <p class="comment__author">{{node.author.first_name}} {{node.author.last_name}}</p>
            <p class="comment__text">{% if node.is_child_node %}<a style="color: rgb(11, 138, 197);"
                    href="{{node.parent.author.profile.get_absolute_url}}">{{node.parent.author.first_name}}
                    {{node.parent.author.last_name}}</a>, {% endif %}{{node.body}}</p>
        </div>
        {% if node.images_comment.exists %}
        <div class="comment__images">
            {% for img in node.images_comment.all %}
            <div class="comment__image">
                <img src="{{img.photo.url}}" alt="">
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="comment__bottom">
            <div class="comment__bottom-meta">
                <p class="comment__date">{{node.created_at|timesince}} ago</p>
                <a class="comment__reply" data-bs-toggle="collapse" data-bs-target="#comment_reply_box_{{node.id}}"
                    aria-expanded="false" aria-controls="comment_reply_box">Ответить</a>
            </div>
            <div class="comment__bottom-like">
                <form method="post" class="comment__like-form">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{node.id}}">
                    <button type="submit" class="comment__like-btn">
                        <svg class="comment__like-svg" fill="
                        {% if node.is_user_liked_comment %} 
                        red
                        {% else %}
                        white
                        {% endif %}
                        " stroke="red" value="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                            </path>
                        </svg>
                        <p class="comment__like-cnt">{{node.like_cnt}}</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="comment_reply_box_{{node.id}}" class="lenta-card__comments-add-comment lenta-card__comments-add-comment--reply collapse">
    <div class="lenta-card__comments-add-comment__meta">
        <img loading="lazy" class="lenta-card__comments-add-comment__avatar" src="{{user.profile.avatar.url}}">
    </div>
    <div class="lenta-card__comments-add-comment__form-container">
        <form method="post" class="lenta-card__comments-add-comment__form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{node.id}}">
            {{form.body}}
            <div class="lenta-card__comments-add-comment__form-fileinput__clip">
                <label for="id_images_{{node.id}}">
                    <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
                </label>
            </div>
            <input type="file" name="images" multiple="" class="lenta-card__comments-add-comment__form-fileinput" accept="image/*" id="id_images_{{node.id}}">
            <button type="submit" class="lenta-card__comments-add-comment__form-submit">
                <svg class="lenta-card__svg lenta-card__comments-add-comment__form-svg" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                </svg>
            </button>
        </form>
    </div>
</div>
{% if not node.is_leaf_node %}
{{children}}
{% endif %}
{% endrecursetree %}