{% extends 'base.html' %}
{% load static %}

{% block title %}
Активация {{user_obj.username}}
{% endblock %}

{% block vendors %}
<script src="{% static 'js/vendors/typed.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="confirm">
    <div class="confirm__svg">
        <img src="{% static 'img/svg/success.svg' %}" alt="">
    </div>
    <h1 class="confirm__title">
        Аккаунт <span class="confirm__typed"></span> успешно активирован.
    </h1>
    <div class="confirm__buttons">
        <a href="{% url 'login' %}"
            class="regitser-form__btn regitser-form__btn--sign regitser-form__btn--confirm">Войти</a>
    </div>
</div>
<script>
    $(function () { $(".confirm__typed").typed({ strings: ['{{user_obj.username}}','{{user_obj.first_name}}' + ' {{user_obj.last_name}}','{{user_obj.email}}'], typeSpeed: 50, loop: true }); });
</script>
{% endblock %}