{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<main class="register-main">
    <div class="circle circle--login"></div>
    <div class="register-form-container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1 class="register-form__title">
                Вход
            </h1>
            {{ form.non_field_errors }}
            <!--ошибка если поля пустые-->
            {{ form.username.errors }}
            {{ form.password.errors }}
            {%if messages%}
            {%for message in messages%}
            <!--вывод messages-->
            {%if message.tags == 'error'%}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {%else%}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
            {% endif %}
            {%endfor%}
            {%endif%}
            <!---->
            <div class="register-form__fields">
                <div class="register-form__field">
                    {{form.username}}
                </div>
                <div class="register-form__field">
                    {{form.password}}
                </div>
            </div>
            <div class="register-form__buttons">
                <button class="regitser-form__btn" type="submit">Готово</button>
                <div class="register-form__divider">или</div>
                <a href="{% url 'reg' %}" class="regitser-form__btn regitser-form__btn--sign">Регистрация</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}