/* Base settings */

p {
    margin: 0
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

textarea::-webkit-scrollbar {
    width: 0;
}

/* Register main tag */

.register-main {
    background: #F1F5FE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif
}

/* Circle */

.circle {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 2534px;
    height: 2534px;
    background: #F7FAFF;
    box-shadow: 0 4px 70px 6px rgba(217, 229, 255, 0.25);
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.circle--login {
    width: 2000px;
    height: 2000px;
    animation-name: fadeCircleLogin
}

/* Animations */

@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px
    }

    25% {
        width: 2000px;
        height: 2000px
    }

    50% {
        width: 1500px;
        height: 1500px
    }

    75% {
        width: 1000px;
        height: 1000px
    }

    100% {
        width: 534px;
        height: 534px
    }
}

@keyframes fadeCircleLogin {
    0% {
        width: 2300px;
        height: 2300px
    }

    25% {
        width: 1800px;
        height: 1800px
    }

    50% {
        width: 1300px;
        height: 1300px
    }

    75% {
        width: 800px;
        height: 800px
    }

    100% {
        width: 500px;
        height: 500px
    }
}

@keyframes fadeForm {
    0% {
        opacity: 0
    }

    25% {
        opacity: .25
    }

    50% {
        opacity: .5
    }

    75% {
        opacity: .75
    }

    100% {
        opacity: 1
    }
}

/* Register form */

.register-form__title {
    color: #385070;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 31px
}

.register-form__input {
    font-size: 14px;
    line-height: 16px;
    height: 45px;
    width: 100%;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
    color: #385983
}

.register-form__input:focus {
    outline: 0;
    border: 2px solid #C1D9FD
}

.register-form-container {
    opacity: 0;
    background: #fff;
    box-shadow: 0 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    max-width: 415px;
    padding: 31px 30px;
    position: relative;
    z-index: 2;
    width: 100%;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0 auto
}

.register-form__field {
    margin-bottom: 13px
}

.regitser-form__btn {
    display: block;
    background: #00ff73;
    border-radius: 5px;
    height: 45px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    line-height: 45px;
    cursor: pointer;
    transition: background .2s linear
}

.regitser-form__btn:hover {
    background: #00ff0d
}

.regitser-form__btn--sign {
    background: #385983;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff
}

.regitser-form__btn--sign:hover {
    background: #385070;
    color: #fff
}

.register-form__divider {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px
}

/* Confirm */

.regitser-form__btn--confirm {
    max-width: 200px;
}

.confirm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.confirm__title {
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.confirm__title .typed-cursor {
    display: none;
}

.confirm__buttons {
    display: flex;
    justify-content: center;
}

.confirm__svg {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.confirm__svg img {
    width: 35px;
    height: 35px;
}

/* Lenta */

.lenta {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

/* Lenta card */

.lenta-card {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    position: relative;
    padding: 6.5px 6.5px 0 6.5px;
    margin: 30px auto;
    word-wrap: break-word
}

/* Top */

.lenta-card__svg {
    height: 35px;
    padding: 5px;
    cursor: pointer;
    color: #5c5b5b
}

.lenta-card__svg--info {
    background-color: #f0f0f0;
    border-radius: 50%
}

.lenta-card__svg--like-btn {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.lenta-card__svg--like {
    padding-left: 0;
    padding-right: 3px;
    transition: fill .2s linear
}

.lenta-card__svg--small {
    height: 25px
}

.lenta-card__svg--comment {
    margin-left: 1px;
}

.lenta-card__svg--eye {
    margin-left: 2px
}

.lenta-card__likes-count {
    font-size: 14px;
    margin-left: 1px;
}

.lenta-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.lenta-card__info {
    display: flex;
    align-items: center
}

.lenta-card__info img {
    width: 40px;
    object-fit: cover;
    height: 40px;
    padding: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.45);
}

.lenta-card__username {
    margin: 0px 10px
}

.lenta-card__username a {
    text-decoration: none;
    color: #2b2b2b
}

.lenta-card__name {
    font-size: 16px;
    font-weight: 600
}

/* Body */

.lenta-card__body,
.lenta-card__bottom {
    padding: 5px 15px
}

.lenta-card__bottom {
    display: flex;
    flex-direction: column
}

.lenta-card__body img {
    width: 100%;
    border-radius: 5px;
    min-height: 140px
}

.lenta-card__body-icons {
    padding: 5px 0px
}

.lenta-card__body-icons--left {
    display: flex;
    align-items: center
}


.lenta-card__add-comment {
    display: flex;
    margin-top: 7px;
    padding: 7px 0;
    position: relative;
    align-items: center
}

.lenta-card__add-comment svg {
    transform: rotate(90deg);
}

.lenta-card__add-comment svg:hover {
    color: #313030
}

.lenta-card__add-comment__form {
    width: 100%;
    display: flex;
    align-items: center;
}

.lenta-card__add-comment__input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #a39e9e;
    font-size: 15px;
    transition: border .5s linear;
}

.lenta-card__add-comment__input:focus {
    outline: 0;
    border-color: #129ed688;
}

.lenta-card__add-comment__submit {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
}

/* Bottom */

.lenta-card__bottom h4,
p {
    padding: 0 0px;
    word-wrap: break-word
}

.lenta-card__h6,
.lenta-card__span {
    padding: 2px 10px;
    font-family: 'Courier New', Courier, monospace
}

.lenta-card__span {
    color: #8441f0;
    font-size: 12px
}

.lenta-card__sub-heading {
    display: flex;
    max-width: 100%
}

.lenta-card__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.lenta-card__other--single {
    padding: 10px 0;
    border-top: 1px solid #9a9a9a8f;
}

.lenta-card__title {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .5px
}

.lenta-card__content {
    font-size: 15px;
    font-weight: 500
}

.lenta-card__content--single {
    margin-bottom: 10px;
}

.lenta-card__views {
    display: flex;
    align-items: center;
}

/* Filter */

.cd-filter {
    position: fixed;
    top: 0;
    left: 0;
    word-wrap: break-word;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s, box-shadow .3s;
    -moz-transition: -moz-transform .3s, box-shadow .3s;
    transition: transform .3s, box-shadow .3s;
    font-family: 'Roboto', sans-serif
}

.cd-filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #433088;
    z-index: 2
}

.cd-filter-form {
    padding: 70px 20px
}

.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    color: #ffffff;
    background: #3a287c;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center
}

.cd-close svg {
    height: 30px;
    width: 30px
}

.no-touch .cd-filter .cd-close:hover {
    background: #32255f
}

.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2)
}

.cd-filter.filter-is-visible .cd-close {
    opacity: 1
}

@media only screen and (min-width:1170px) {
    .cd-filter {
        width: 20%
    }

    .cd-filter form {
        padding: 70px 10%
    }
}

.cd-filter-trigger {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    z-index: 3
}

.cd-filter-trigger.filter-is-visible {
    pointer-events: none
}

.cd-filter-trigger {
    width: auto;
    left: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s
}

.no-touch .cd-filter-trigger:hover {
    color: #41307c
}

.cd-filter-trigger.filter-is-visible,
.cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff
}

.cd-filter-block {
    margin-bottom: 1.6em
}

.cd-filter-block h4 {
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.cd-filter-block h4.closed:before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg)
}

.no-touch .cd-filter-block h4:hover {
    color: #41307c
}

.cd-filter-block input,
.cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6
}

.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
    width: 100%;
    padding: .8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none
}

.cd-filter-block .cd-select {
    position: relative
}

.cd-filter-block .cd-select:after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none
}

.cd-filter-block select {
    cursor: pointer;
    font-size: 12px
}

.cd-filter-block select::-ms-expand {
    display: none
}

.cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em
}

.cd-filter-block .list li:last-of-type {
    margin-bottom: 0
}

.cd-filter-block input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2
}

.cd-filter-block input[type=checkbox]:checked+label:before {
    border-color: #41307c;
    background-color: #41307c
}

.cd-filter-block input[type=radio]:checked+label::after,
.cd-filter-block input[type=checkbox]:checked+label::after {
    display: block
}

.cd-filter-block .radio-label {
    padding-left: 24px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cd-filter-block .radio-label:before,
.cd-filter-block .radio-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%
}

.cd-filter-block .radio-label:before {
    width: 16px;
    height: 16px;
    left: 0
}

.cd-filter-block .radio-label:after {
    display: none;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    left: 5px
}

.cd-filter__submit {
    width: 100%;
    background: #3a287c;
    border: 1px solid #8441f0;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 4px;
    font-size: 12px;
    font-weight: 500
}

@-moz-document url-prefix() {
    .cd-filter-block .cd-select::after {
        display: none
    }
}

/* Slick.js lenta */

.lenta-card__slider .slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    border: 0;
    background: none;
    cursor: pointer
}

.lenta-card__slider .slick-arrow:focus {
    outline: 0
}

.lenta-card__slider .slick-arrow:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #181717;
    border-left: 2px solid #181717
}

.lenta-card__slider .slick-prev {
    left: -18px;
    transform: rotate(-45deg)
}

.lenta-card__slider .slick-next {
    right: -18px;
    transform: rotate(135deg)
}

/* Comments */

.lenta-card__separator {
    margin-right: -6.5px;
    margin-left: -6.5px;
    height: 1px;
    background-color: #9a9a9a8f;
}

.lenta-card__separator--disabled {
    height: 0;
}

.lenta-card__comments {
    width: 100%;
    padding-bottom: 0.4px;
}

.lenta-card__comments-list {
    width: 100%;
}

.lenta-card__comment {
    margin: 10px 0;
    padding: 4px 4px;
    display: flex;
    justify-content: center;
}

.lenta-card__comment--reply {
    max-width: 365px;
    margin-left: 35px;
}

.comment__avatar-container {
    margin-top: 1px;
}

.comment__avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.comment__content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 15px;
    justify-content: center;
    width: calc(100% - 10px - 34px);
}

.comment__content:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin-top: 6.5px;
    background-color: #9a9a9a8f;
}

.comment__author {
    font-size: 16px;
    font-weight: 600;
    color: #2b2b2b;
}

.comment__bottom {
    margin: 2px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__bottom-meta {
    display: flex;
    align-items: center;
}

.comment__date {
    color: #939393;
    font-size: 14px;
    margin-right: 6px;
}

.comment__reply {
    color: #129fd6;
    cursor: pointer;
    font-size: 14px;
}

.comment__reply:hover {
    text-decoration: underline;
    color: #129fd6;
}

.comment__bottom-like {
    display: flex;
    align-items: center;
}

.comment__like-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.comment__like-svg {
    width: 17px;
    height: 17px;
    transition: fill .2s linear;
}

.comment__like-cnt {
    font-size: 13.5px;
    margin-left: 4px;
}

.lenta-card__comments-add-comment {
    margin: 11.5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.lenta-card__comments-add-comment--reply {
    max-width: 365px;
    margin: -7px 0 7px 35px;
    padding: 4px 4px;
}

.lenta-card__comments-add-comment--reply .lenta-card__comments-add-comment svg {
    height: 35px;
}

.lenta-card__comments-add-comment__form-container {
    width: 100%;
}

.lenta-card__comments-add-comment__form {
    display: flex;
    align-items: center;
}

.lenta-card__comments-add-comment__form-submit {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.lenta-card__comments-add-comment svg {
    transform: rotate(90deg);
    height: 34px;
}

.lenta-card__comments-add-comment__form-input {
    width: 100%;
    padding: 7px 5px;
    border: 1px solid #a39e9e;
    border-radius: 10px;
    transition: border .5s linear;
    resize: none;
}

.lenta-card__comments-add-comment__form-fileinput {
    display: none;
}

.lenta-card__comments-add-comment__form-fileinput__clip {
    margin: 0 3.5px;
    display: flex;
    align-items: center;
}

.lenta-card__comments-add-comment__form-fileinput__clip i {
    font-size: 1.44444em;
}

.lenta-card__comments-add-comment__form-input:focus {
    outline: 0;
    border: 1px solid #129ed67a;
}

.lenta-card__comments-add-comment__meta {
    margin-right: 10px;
}

.lenta-card__comments-add-comment__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.lenta-card__messages {
    margin: 10px auto;
    max-width: 350px;
}

.comment__images {
    margin-top: 7px;
}

.comment__image img {
    max-width: 213px;
    max-height: 120px;
    width: 100%;
}