{% extends 'base.html' %}
{% load static %}

{% block title %}
Добавить пост
{% endblock %}

{% block script %}
<script src="{% static 'js/add_post.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    {%if messages%}
    {%for message in messages%}
    <!--вывод messages-->
    {%if message.tags == 'error'%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {%else%}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
    </div>
    {% endif %}
    {%endfor%}
    {%endif%}
    <!---->
    <div class="post-form">
        <form method="post" action="{% url 'add' %}" enctype="multipart/form-data">
            <!--request.FILES не работает без enctype-->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock %}