{% extends 'base.html' %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock %}

{% block script %}
<script src="{% static 'js/post_detail.js' %}"></script>
{% endblock %}

{% block vendors_styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<section class="lenta lenta--single">
    <div class="lenta-card__messages">
        {%if messages%}
        {%for message in messages%}
        <!--вывод messages-->
        {%if message.tags == 'error'%}
        <div class="alert alert-danger" role="alert">
            {{message}} <a style="color: blue; text-decoration: underline;" href="{{post.get_absolute_url}}">Попробуйте
                еще раз!</a>
        </div>
        {%else%}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endif %}
        {%endfor%}
        {%endif%}
    </div>
    <div class="lenta-card">
        <div class="lenta-card__top">
            <div class="lenta-card__info">
                <a href="{{post.author.profile.get_absolute_url}}"><img loading="lazy"
                        src="{{post.author.profile.avatar.url}}"></a>
                <div class="lenta-card__username">
                    <a href="{{post.author.profile.get_absolute_url}}">
                        <p class="lenta-card__name">{{post.author.first_name}} {{post.author.last_name}}
                            {% if post.followed %} | Вы подписаны {%endif%}
                        </p>
                    </a>
                </div>
            </div>
            <div class="lenta-card__icon">
                <svg class="lenta-card__svg lenta-card__svg--info" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="lenta-card__body">
            {% if post.images.exists %}
            <div class="lenta-card__slider">
                {% for img in post.images.all %}
                <div>
                    <img src="{{img.photo.url}}" alt="" class="lenta-card__img">
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="lenta-card__body-icons">
                <div class="lenta-card__body-icons--left">
                    <form class="like-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button type="submit" class="lenta-card__svg--like-btn">
                            <svg class="lenta-card__svg lenta-card__svg--like" fill="
                            {% if post.is_liked %} 
                            red
                            {% else %}
                            white
                            {% endif %}
                            " stroke="red" value="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                                </path>
                            </svg>
                        </button>
                    </form>
                    <div class="lenta-card__likes-count">
                        {{post.liked_cnt}}
                    </div>
                    <svg class="lenta-card__svg lenta-card__svg--comment" data-bs-toggle="collapse"
                        data-bs-target="#comments_list" aria-expanded="true" aria-controls="comments_list" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="lenta-card__bottom">
            {% if post.title %}
            <div class="lenta-card__sub-heading">
                <h4 class="lenta-card__title">{{post.title}}</h4>
            </div>
            {% endif %}
            {% if post.content %}
            <p class="lenta-card__content lenta-card__content--single">{{post.content}}</p>
            {% endif %}
            <div class="lenta-card__other lenta-card__other--single">
                <div class="lenta-card__views">
                    {{post.viewers_cnt}}
                    <svg class="lenta-card__svg lenta-card__svg--small lenta-card__svg--eye" version="1.1" id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
    S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
    S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
    S451.856,225.446,451.856,306S386.554,451.855,306,451.855z" />
                                <path d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
    c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
    s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z" />
                            </g>
                    </svg>
                </div>
                <div class="lenta-card__created">
                    {{post.created_at|timesince}} ago
                </div>
            </div>
        </div>
        <div class="lenta-card__separator"></div>
        <div class="lenta-card__comments">
            <div class="lenta-card__comments-add-comment">
                <div class="lenta-card__comments-add-comment__meta">
                    <img loading="lazy" class="lenta-card__comments-add-comment__avatar"
                        src="{{user.profile.avatar.url}}">
                </div>
                <div class="lenta-card__comments-add-comment__form-container">
                    <form method="post" class="lenta-card__comments-add-comment__form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.body}}
                        <div class="lenta-card__comments-add-comment__form-fileinput__clip">
                            <label for="id_images">
                                <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
                            </label>
                        </div>
                        {{form.images}}
                        <button type="submit" class="lenta-card__comments-add-comment__form-submit">
                            <svg class="lenta-card__svg lenta-card__comments-add-comment__form-svg" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
                                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="lenta-card__separator"></div>
            <div id="comments_list" class="lenta-card__comments-list collapse show">
                {% include 'inc/_comments.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}