/* Base */

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

textarea::-webkit-scrollbar {
    width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.flex-align__box {
    display: flex;
    align-items: center;
}

.flex-between_box {
    display: flex;
    justify-content: space-between;
}
